# Ignores solidworks temp files
~$*
# Ignores flashforge gcode print files to avoid mistakes when choosing the wrong printer
*.gx
# Ignores gcode print files for the same reason as for .gx files
*.gcode
# Ignores irrelevant directories
new-main
rescue-kit-mechanism
CAD_main_*.zip